.all{
  /* max-width: 800px; */
  padding-top: 20px;
  padding-bottom: 10px;
  text-align: center;
}
.column {
  float: left;
  width: 50%;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}
.img{
  width: 100%;
  height: auto;
  margin-right : auto;
  margin-left : auto;
  min-width : 200px;
  max-width : 450px;
}

.arrow{
  width:100%;
  height: auto;
  margin-right : auto;
  margin-left : auto;
  min-width : 200px;
  max-width : 650px;
  margin-top:10px;
  padding-bottom:10px;
  font-size: 100px;
}
.end{
  max-width: 800px;
  /* padding-top: 20px; */
  /* padding-bottom: 10px; */
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}